/* NAV*/

.link-tickets{
    color: #79cf17 !important;
}

.cards-container{
    margin-top: 100px;
    margin-bottom: 30px;
}

.valor-ticket{
    text-transform: uppercase;
}

#btnBorrar, #btnResumen{
    background: #79cf17 !important;
    border: #79cf17 !important;
}


footer{
    background:  #58769f !important;
}

footer div ul li a{
    color: white !important;
}